body {
  background-image: url(imgs/computer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%, 70%;
  background-color: black;
}

img {
  width: 100px;
  height: 100px;
}

.col-2 {
  margin-left: 200px;
}
.row {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
.center-screen {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
